/*################estilos del header NEGRO#####################*/
.div1h{
    display: flex;
    background-color: #222222;
    color: #F3F3F3; 
    font-size: 13px;   
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 25px;
    
}

.ul1 {
    display: flex;
    list-style: none;
    margin-right: 50px;
    margin-left: 100px;
    gap: 2rem;

}

#p1{
    margin-left: 90px;
}

/*################estilos del header NARANJA#####################*/
.div2h{
    background-color: #f0a83e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    box-sizing: border-box;

}

#logo{
    width: 15vw;
}

.a{
    width: 120%;
}

.ul2h{
    display: flex;
    list-style: none;
    gap: 3rem;
}


/*################ESTILOS DEL BODY####################################*/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
}
/*################IMAGEN PRINCIPAL####################################*/
.section1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 65vh;
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box;

}

.div1m{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;

}

#h2m{
    background-color: #f3f3f3;    
    font-size: 35px;
    padding: 2%;
    border-radius: 5px;

}

#button{
    background-color: #f0a83e;
    padding: 2%;
    border-radius:5px;
    color: #FFFFFF;

}
/*################MEDIO####################################*/

.section2{
    text-align: center;
    height: 300px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#h2s2{
    font-size: 40px;
    margin: 5px;
}
/*################ ARTICULOS #############################*/

.section3{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.ps3{
    color: #F0A83E;
}

.articulos{
    display: flex;
    width: 20vw;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    background-color: #FBFAF6;
}

/*################ formulario #############################*/
.divform{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100vw;
    margin-top: 70px;
    align-items: center;
}

.caja{
    display: flex;
    width: 40vw;
    height: 50px;
    background-color: #3C2313;
    color: #FFFFFF;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0 0 0 15px;
    font-size: 12px;
    align-items: center;
}

#h3f{
    font-size: 25px;
}

.buttonform{
    width: 100vw;
    margin-top: 40px;
    text-align: center;
}

.button{
    border-radius: 15px;
    color: #FFFFFF;
    padding: 1% 3%;
}

#button1{
    background-color: #8A8787;

}

#button2{
    background-color: #F0A83E;
    
}

/*################ HEADER DEL FOOTER #############################*/
.footer{
    width: 100vw;
}

.header-footer{
    background-color: #f0a83e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.div-correo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#p-footer{
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 10px;
}

.div-sub{
    display: flex;
    margin-right: 20px;
    justify-content: center;
}

.caja-footer{
    display: flex;
    width: 25vw;
    height: 50px;
    background-color: #FFFFFF;;
    color:#A0A0A0;
    border-radius: 10px;
    padding: 0 0 0 15px;
    font-size: 12px;
    align-items: center;
}

.button-footer{
    margin-left: 10px;
    background-color: #3C2313;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;

}

/*################ MAIN DEL FOOTER #############################*/

.main-footer{
    width: 100vw;
    height: 50vh;
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#logo-footer{
    width: 15vw;
    height: 10%;
    margin-right: 30px;
}

.info-cont{
    display: flex;
    align-items: center;
    margin: 20px;
}

.es-info{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}
.text-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.img-footer{
    width: 50px;
    height: 50px;
}

.titulos-info{
    color: #FFFFFF;
    font-size: 25px;  
    margin-bottom: 0%; 
}

.p-titulos{
    color: #8A8787;
    font-size: 12px;
    margin-top: 0%;
}

/*################ FOOTER DEL FOOTER #############################*/

.ff{
    background-color: #222222;
    color: #F3F3F3; 
    font-size: 12px;
    text-align: center;
    height: 20px;
}

#derechos{
    margin-top: 0%;
}













